/* shared style */
body{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
}
/* header related style */
#top{
    display: flex;
    justify-content: space-evenly;
    background: #d93a5cd8;
    height: max-content;
    align-items: center;
    height: 8vw;
    margin: 0;
    border-bottom: 1px dotted rgba(255, 105, 180, 0.779);
}
.logo-text{
    font-family: cursive;
}
.logo-section{
    display: flex;
    padding: 10px;
    margin: 0%;
}
/* modifying menus */
.menu-list{
    list-style: none;
    display: flex;
    gap: 1px;
    margin-right: 15px;
}

.menu-link{
    display: inline-block;
    padding: 20px 15px; 
    border: none;
    text-decoration: none;
    color: black;
    font-size: large;
    font-weight: bold;
    border-radius: 10px;
}
.menu-link:hover{
    background-color: antiquewhite;
}
/* banner section's design  */
.banner-section{
    display: flex;
    height: 82vh ;
    gap: 10%;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(135deg,rgba(229, 84, 115, 0.324),rgba(5, 151, 160, 0.15));
}
.banner-text{
    width: 40%;
}
.banner-desc{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 90%;
}
.banner-tittle{
    color: #272727;
font-size: 50px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.banner-img{
    align-self: last baseline;
}
.shop-btn{
    padding: 10px 20px;
    border: none;
    color: azure;
    border-radius: 8px;
    background: #E55473;
    display: inline-block;
}
.shop-btn:hover{
    transform: scale(1.05);
    cursor: pointer;
    background-color: #f13d64;
}
/* featured content design  */  
#Featured{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    height: 80vh;
    row-gap: 0px;
    margin-bottom: 5%;
}
#Featured *{
    margin: 0;
    padding: 0;
}

.img-container-1{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);}
.img-container-2{
    border-radius: 300px 300px 0px 0px;
background: rgba(5, 151, 160, 0.15);
}
.img-container-3{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.featured-products{
    display: flex;
    flex-direction: row;
    gap: 25px;
    height: 50%;
    align-self: center;
}
.product{
    display: flex;
    flex-direction:column;
    height: 45vh;
    width: 15vw;
}
.img-container-1,.img-container-2,.img-container-3{
    height: 90%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-container-1:hover,.img-container-2:hover,.img-container-3:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.product-img{
    align-self:last baseline;
}
.featured-tittle{
    display: flex;
    flex-direction: column;
    row-gap: 0;
}
.subtittle{
    color: #272727;
font-size: 38px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin: 0;
margin-bottom: 20px;
}
.thin-text{
    margin: 0;
    align-self: center;
    text-align: center;
    width: 40%;
    color: rgba(39, 39, 39, 0.60);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.product-name{
    color: #272727;
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 35px;
text-decoration-line: underline;
}
/* features-box related style */
.features-box-container{
    width: 100%;
    height: 20vh ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}
.features-box-container *{
    margin: 0;
    padding: 0;
}
.features-box{
    width: 49vw;
    height: 100%;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    
}
.feature{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 33%;
    height: inherit;
}
.feature-name{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
/* hot sale section design  */
#sale-container{
    height: 40vh;
    width: 100%;
    border-radius: 8px;
    background: #b73b52;
    padding-top: 8vh;
    -webkit-mask: linear-gradient(120deg, #000 25%, rgba(0, 0, 0, 0.811), #000 75%) right/250% 100%;
    /* shimmer effect animation */
    animation: shimmer 3.5s infinite;
    border: 1px solid darkblue;
    margin-bottom: 5%;
}
 @keyframes shimmer {
         100% {
            -webkit-mask-position: left;
         }
        }
.hot-sale-section{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hot-sale-section *{
    margin: 0;
    padding: 0;
}
.off{
    color: gold;
}
.hot-sale-text{
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    align-items: center;
}
.hot-sale-text h2{
    color: antiquewhite;
}
.hot-sale-text p{
    color: rgba(250, 235, 215, 0.612);
}
.sign-up-btn{
    padding: 10px 20px;
    border: none;
    color: azure;
    border-radius: 8px;
    background: #E55473;
    display: inline-block;
    max-width: fit-content;
    text-align: center;
    margin: 0 auto;
}
.sign-up-btn:hover{
    transform: scale(1.05);
    cursor: pointer;
    background-color: gold;
    color: black;
}
#instagram{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    height: 80vh;
    row-gap: 0px;
    margin-bottom: 5%;
}
#instagram *{
    margin: 0;
    padding: 0;
}
.insta-text{
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
}
.insta-img-container{
    display: flex;
    column-gap: 24px;
    align-items: center;
    justify-content: center;
}
.insta-img:hover{
    /* transform: rotate(2deg); */
    box-shadow: 10px 10px 20px grey;
    cursor: pointer;
}
/* new-letter */
#newsletter{
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    height: 40vh;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}
#newsletter *{
    margin: 0;
    padding: 0;
}
.mail-box{
    background-image: url("Flower asset/Rectangle-9.png");
    border: 1px dotted black;
    background-repeat: no-repeat;
    background-size: cover;
    width: 90vw;
    height: 100%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}
.mail-line{
    display: flex;
    width: 60%;
    justify-content: center;
    column-gap: 20px;
}
.mail-line button{
    width: 20%;
    height: 40px;
}
.mail-line input{
    width: 80%;
}
.mail-line input::placeholder{
    padding-left: 10px;
    font-family: work sans;
}
/* footer  */
footer{
    height: 40vh;
    background-color: #000;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    color: #FFFFFFE5;
    justify-content: center;
    align-items: center;
}
footer{
    overflow-x: hidden;
    box-sizing: border-box;
    margin: 0;
    padding: auto 0;
}
footer *{
    margin: 0;
    padding: 0;
}
footer h2{
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.copyright{
    color: rgba(255, 255, 255, 0.40);
text-align: center;
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.footer-text{
    width: 50%;
    text-align: center;
    color: rgba(250, 235, 215, 0.744);
}
.pink{
    color: #E55473;
}
footer{
    margin: 0; 
}