/* shared style */
body{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
/* header related style */
#top{
    display: flex;
    justify-content: space-evenly;
    background: #d93a5cd8;
    height: max-content;
    align-items: center;
    height: 8vw;
    margin: 0;
    border-bottom: 1px dotted rgba(255, 105, 180, 0.779);
}
.logo-text{
    font-family: cursive;
}
.logo-section{
    display: flex;
    padding: 10px;
    margin: 0%;
}
/* modifying menus */
.menu-list{
    list-style: none;
    display: flex;
    gap: 1px;
    margin-right: 15px;
}

.menu-link{
    display: inline-block;
    padding: 20px 15px; 
    border: none;
    text-decoration: none;
    color: black;
    font-size: large;
    font-weight: bold;
    border-radius: 10px;
}
.menu-link:hover{
    background-color: antiquewhite;
}
/* banner section's design  */
.banner-section{
    display: flex;
    height: 82vh ;
    gap: 10%;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(135deg,rgba(229, 84, 115, 0.324),rgba(5, 151, 160, 0.15));
}
.banner-text{
    width: 40%;
    /* height: 50%; */
}
.banner-desc{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 90%;
}
.banner-tittle{
    color: #272727;
font-size: 50px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.banner-img{
    align-self: last baseline;
}
.shop-btn{
    padding: 10px 20px;
    border: none;
    color: azure;
    border-radius: 8px;
    background: #E55473;
}
.shop-btn:hover{
    transform: scale(1.05);
    cursor: pointer;
}
/* featured content design  */  
#Featured{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    height: 80vh;
    row-gap: 0px;
}
.img-container-1{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);}
.img-container-2{
    border-radius: 300px 300px 0px 0px;
background: rgba(5, 151, 160, 0.15);
}
.img-container-3{
    border-radius: 300px 300px 0px 0px;
background: rgba(5, 151, 160, 0.15);
}

.featured-products{
    display: flex;
    flex-direction: row;
    gap: 25px;
    height: 50%;
}
.product{
    display: flex;
    flex-direction:column;
    height: 30vh;
}
.img-container-1,.img-container-2,.img-container-3{
    height: 30vh;
    width: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-img{
    align-self:last baseline;
}
.featured-tittle{
    display: flex;
    flex-direction: column;
    row-gap: 0;
}
.featured-tittle h2{
    color: #272727;
font-size: 38px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin: 0;
margin-bottom: 20px;
}
.featured-tittle p{
    margin: 0;
    align-self: center;
    text-align: center;
    width: 40%;
    color: rgba(39, 39, 39, 0.60);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.product-name{
    color: #272727;
text-align: center;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 35px;
text-decoration-line: underline;
}